* {
    box-sizing: border-box;
}

h1 {
    font-size: 300%;
    color: darkorange;
    text-align: center;
}

.row{
    margin: 10px;
}

.contenedor {
    width: 100%;
}

.contenido{
    color: black;
    border: 3px solid black;
    background-color: rgb(170, 155, 155);
    width: 90%;
    height: auto;
    padding: 5px;
    padding-top: 40px;
}

.titulo{
    overflow: none;
    text-align: center;
    border: 5px solid black;
    width: 100px;
    height: 40px;
    float: right;
    margin: 0px;
    margin-right: 36px;
    position: relative;
}

.titulo1{
    background-color: coral;
}

.titulo2{
    background-color: red;
    color:white;
}

.titulo3{
    background-color: wheat;
}

@media (min-width: 992px){
    .col-lg-4 {
        float: left;
        width: 33.3%;
    }
}

@media (min-width: 768px) and (max-width: 991){
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
    .titulo3{
        margin-right: 70px;
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 767px){
    .col-sm-12 {
        float: left;
        width: 100%;
    }
    .titulo {
        margin-right: 30px;
    }
}