* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ivory;
}

.contenedor {
    background-color: gray;
    width: auto;
    border: 5px solid black;
    margin: 10px;
}

body h1 {
    size: 75%;
    color: darkorange;
    text-align: center;
}